<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CafeTNTEntities" connectionString="metadata=res://*/DataSource.CafeTNTModel.csdl|res://*/DataSource.CafeTNTModel.ssdl|res://*/DataSource.CafeTNTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS2012;initial catalog=CafeTNT;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>